.contain{
  padding: 10px;
  background: #dfe6e9;
  width: 1000px;
  margin: 2px auto;
  border-radius: 5px;
}
.heading{
  padding: 10px;
  background: #636e72;
  width: 1000px;
  margin: 0px auto;

}

.postDetails{
  background: #dfe6e9;
  width: 1000px;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
}
.title{
  background: #636e72;
  padding: 20px;
  color: #fff;
  font-size: 32px;
}

.post{
  padding: 10px;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
}
a{
  text-decoration: none;
}