.contain{
  padding: 10px;
  background: #dfe6e9;
  width: 1000px;
  margin: 2px auto;
  border-radius: 5px;
}
.heading{
  padding: 10px;
  background: #636e72;
  width: 1000px;
  margin: 0px auto;

}

.postDetails{
  background: #dfe6e9;
  width: 1000px;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
}
.title{
  background: #636e72;
  padding: 20px;
  color: #fff;
  font-size: 32px;
}

.post{
  padding: 10px;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
}
a{
  text-decoration: none;
}

.comment-container{
  display: flex;
  border: 1px solid #000;
  background: darkgray;
  padding: 10px;
  width: 30%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 10px;
}

.comment-container .left{
  margin-right: 10px;
}
.comment-container .left img{
  border-radius: 50%;
  border: 1px dotted rgba(128, 0, 128, 0.5);
  padding: 2px;
}

.comment-body{
  margin-top: -1px;
  padding: 10px;
  margin-left: 3px;
  border: 1px dotted rgba(128, 0, 128, 0.5);
  margin-bottom: 5px;
   width: 60%;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(169, 169, 169, 0.233);

}